.App {
    padding: 10px;
    min-height: 80vh;
    max-width: 1200px;
    margin: 0 auto;
}

.searchInputBox{
    height: 30px;
    width: 80%;
    border-radius: 0px;
    font-size: 1em;
}

.searchSubmitButton{
    -webkit-appearance: none;
    height: 36px;
    background-color: #24a0ed;
    border-radius: 0px;
    color: #ffffff;
    font-size: 1em;
}

.errorMessage {
    text-align: center;
    min-height: 30px;
    color: #FF6600;
    font-weight: bold;
}

.searchForm{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
}
@media only screen and (min-width: 35em) {
    .newsCardWrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
    }
}
