header {
    font-family: Calibri;
    background-color: #5514b4;
    color: #ffffff;
    width: 100%;
    text-align: center;
    height: 80px;
    padding: 10px;
    line-height: 1.5em;
}

.header-h1 {
    font-size: 1.125rem;
}