header {
    font-family: Calibri;
    background-color: #5514b4;
    color: #ffffff;
    text-align: center;
    height: 130px;
    padding: 15px 10px 0 10px;
    line-height: 1.5em;
}

.header-h1 {
    font-size: 1.125rem;
}